h1 h2 h3 h4 p{
    margin: 0px;
    padding:0px;
}



.weather-contain{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding:5px; */
    /* border:1px solid black; */
    /* margin:45px 10px; */
    /* border-radius: 10px; */
    /* box-shadow: 3px 3px 19px black; */
    background-color:rgb(211, 211, 211);
    width: 100vw;
    height: 100vh;
    max-width: 800px;
    min-height: 600px;
    font-weight: bolder;
    color:rgb(26, 49, 49)
    
    
}
.logo img{
  width: 25px;
}
.icono{
    display: flex;
    justify-content:center;
    align-items: center;
}
.daily{
    width: 89vw;
    max-width: 600px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    border:1px solid black;
    border-radius: 10px;
    padding:5px;
    background-color: rgba(157, 228, 228, 0.295);
}
.daily-item{    
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    margin-left: 2px;        
}
.title-daily{
    padding:0px;
    margin:5px;
    margin-top: 30px;
}

.despejado{
    background-image: url('../img/despejado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nubes{
    background-image: url('../img/nublado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    
}
.algunaNube{
    background-image: url('../img/alguna_nube.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.rain{
    background-image: url('../img/lluvia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Thunderstorm{
    background-image: url('../img/Thunderstorm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Snow{
    background-image: url('../img/nieve.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.mist{
    background-image: url('../img/niebla.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.showerRain{
    background-image: url('../img/lluviaIntensa.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.firma img{   
    
    width: 40px;
    
}
.firma{
    width: 80vw;
    max-width: 800px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:50px;
    
    
}